<h2>{{ 'Book your cab'|t }}</h2>
<div class="cab-booking-wrapper">
  <div class="form-wrapper">
      {{ booking_form }}
  </div>
  <div class="right-wrapper">
    <div id="distance-info" class="distance-summary">
      {{ 'Distance'|t }}: <span id="distance"></span><br>
      {{ 'Duration'|t }}: <span id="duration"></span><br>
      {{ 'Price €'|t }}: <span id="price"></span><br>
      
    </div>
    <div class="route-map"></div>
  </div>
</div>
